<footer>
        <section class="section footer">
            <div class="w-layout-blockcontainer container footer w-container">
                <div class="footer-main">
                    <div data-w-id="21b413b6-f5e2-082e-e0dc-dc99771f4760" class="footer-up-box">
                        <div class="footer-up-title">
                            <div class="footer-up-title-text">
                                Let’s Build Something Together
                            </div>
                        </div>
                        <a href="contact.html" class="footer-up-link w-inline-block">
                            <div class="footer-up-icon"></div>
                        </a>
                    </div>
                    <div class="footer-wrap-main">
                        <div data-w-id="b8887cd5-debc-41cb-c075-eb5f1bafdfd2" class="footer-wrap-left">
                            <div class="footer-wrap-logo">
                                <img src="https://cdn.prod.website-files.com/69896482002147cf48fc8172/69afc946dd6cb44228a5e057_Vector%20(7).png" loading="lazy" alt="" class="footer-logo-image">
                            </div>
                            <div class="footer-wrap-title">
                                <h2 class="footer-wrap-text">
                                    Welcome to our crowdfunding &amp; Charity agency
                                </h2>
                            </div>
                        </div>
                        <div data-w-id="b8887cd5-debc-41cb-c075-eb5f1bafdfe9" class="footer-wrap-right">
                            <div class="footer-menu-icons">
                                <div class="footer-menu-box">
                                    <div class="f-page-menu-w">
                                        <a href="index.html" aria-current="page" class="f-page-link w-inline-block w--current">
                                            <div class="f-page-text">Home</div>
                                        </a><a href="about.html" class="f-page-link w-inline-block">
                                            <div class="f-page-text">About Us</div>
                                        </a>
                                    </div>
                                    <div class="f-page-menu-w">
                                        <a href="volunteer.html" class="f-page-link w-inline-block">
                                            <div class="f-page-text">Volunteer</div>
                                        </a><a href="contact.html" class="f-page-link w-inline-block">
                                            <div class="f-page-text">Contact</div>
                                        </a>
                                    </div>
                                    <div class="f-page-menu-w">
                                        
                                    </div>
                                    <div class="f-page-menu-w">
                                        
                                    </div>
                                </div>
                                <div class="footer-icon-box">
                                    <div class="f-social-icon-flex">
                                        <div class="f-social-icon-box">
                                            <a href="https://www.facebook.com/" class="f-social-icon"></a>
                                        </div>
                                        <div class="f-social-icon-box">
                                            <a href="https://www.instagram.com/" class="f-social-icon"></a>
                                        </div>
                                        <div class="f-social-icon-box">
                                            <a href="https://www.behance.net/" class="f-social-icon"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-copyright-wrap">
                                <div class="footer-wrap-box">
                                    <a href="mailto:info@example.com?subject=info%40example.com" class="footer-info-link w-inline-block">
                                        <div class="footer-info-text">info@example.com</div>
                                    </a>
                                    <div class="footer-info-address">
                                        <div class="footer-info-text">16/D Falcon Tower, NYD</div>
                                    </div>
                                </div>
                                <div class="footer-copyright-box">
                                    <div class="footer-copyright-text">
                                        Copyright © PureHope reserved Powered by
                                        <a href="https://webflow.com/" class="copyright-link">Webflow</a>
                                        | Created By
                                        <a href="https://webflow.com/templates/designers/flow-vines" class="copyright-link">Flow Vines</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-id="875aff22-aa46-4d55-4791-dfedbcf22b59" class="footer-name-logo">
                        <div class="footer-name-text">P</div>
                        <div class="footer-name-text">U</div>
                        <div class="footer-name-text">R</div>
                        <div class="footer-name-text">E</div>
                        <div class="footer-name-text">H</div>
                        <div class="footer-name-text">O</div>
                        <div class="footer-name-text">P</div>
                        <div class="footer-name-text">E</div>
                    </div>
                </div>
            </div>
        </section>
    </footer>