<footer>
    <section class="section footer">
        <div class="w-layout-blockcontainer container footer w-container">
            <div class="footer-main">
                <div data-w-id="21b413b6-f5e2-082e-e0dc-dc99771f4760" class="footer-up-box">
                    <div class="footer-up-title">
                        <div class="footer-up-title-text">
                            Let’s Build Something Together
                        </div>
                    </div>
                    <a href="contact.html" class="footer-up-link w-inline-block">
                        <div class="footer-up-icon"></div>
                    </a>
                </div>
                <div class="footer-wrap-main">
                    <div data-w-id="b8887cd5-debc-41cb-c075-eb5f1bafdfd2" class="footer-wrap-left">
                        <div class="footer-wrap-logo">
                            <img src="images/logo.png" loading="lazy" alt="Naba Assiraj" class="footer-logo-image"
                                style="max-height:80px;">
                        </div>
                        <div class="footer-wrap-title">
                            <h2 class="footer-wrap-text" style="font-size:1.5rem; line-height:1.4;">
                                "When a person dies, their deeds come to an end except for three: ongoing charity,
                                knowledge that is benefited from, and a righteous child who prays for them."<br><br>—
                                Sahih Muslim
                            </h2>
                        </div>
                    </div>
                    <div data-w-id="b8887cd5-debc-41cb-c075-eb5f1bafdfe9" class="footer-wrap-right">
                        <div class="footer-menu-icons">
                            <div class="footer-menu-box">
                                <div class="f-page-menu-w">
                                    <a href="index.html" aria-current="page"
                                        class="f-page-link w-inline-block w--current">
                                        <div class="f-page-text">Home</div>
                                    </a><a href="about.html" class="f-page-link w-inline-block">
                                        <div class="f-page-text">About Us</div>
                                    </a>
                                </div>
                                <div class="f-page-menu-w">
                                    <a href="volunteer.html" class="f-page-link w-inline-block">
                                        <div class="f-page-text">Volunteer</div>
                                    </a><a href="contact.html" class="f-page-link w-inline-block">
                                        <div class="f-page-text">Contact</div>
                                    </a>
                                </div>
                                <div class="f-page-menu-w">

                                </div>
                                <div class="f-page-menu-w">

                                </div>
                            </div>
                            <div class="footer-icon-box">
                                <div class="f-social-icon-flex">
                                    <div class="f-social-icon-box">
                                        <a href="https://www.facebook.com/" class="f-social-icon"></a>
                                    </div>
                                    <div class="f-social-icon-box">
                                        <a href="https://www.instagram.com/" class="f-social-icon"></a>
                                    </div>
                                    <div class="f-social-icon-box">
                                        <a href="https://www.behance.net/" class="f-social-icon"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-copyright-wrap">
                            <div class="footer-wrap-box">
                                <a href="mailto:info@example.com?subject=info%40example.com"
                                    class="footer-info-link w-inline-block">
                                    <div class="footer-info-text">info@example.com</div>
                                </a>
                                <div class="footer-info-address">
                                    <div class="footer-info-text">16/D Falcon Tower, NYD</div>
                                </div>
                            </div>
                            <div class="footer-copyright-box">
                                <div class="footer-copyright-text">
                                    Copyright © Naba Assiraj 2026. All Rights Reserved.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="875aff22-aa46-4d55-4791-dfedbcf22b59" class="footer-name-logo">
                    <div class="footer-name-text">N</div>
                    <div class="footer-name-text">A</div>
                    <div class="footer-name-text">B</div>
                    <div class="footer-name-text">A</div>
                    <div class="footer-name-text"></div>
                    <div class="footer-name-text">A</div>
                    <div class="footer-name-text">S</div>
                    <div class="footer-name-text">S</div>
                    <div class="footer-name-text">I</div>
                    <div class="footer-name-text">R</div>
                    <div class="footer-name-text">A</div>
                    <div class="footer-name-text">J</div>
                </div>
            </div>
        </div>
    </section>
</footer>