<header>
        <div class="mini-nav-main">
            <div class="mini-nav">
                <div class="hambargar-mini-w">
                    <a href="index.html" aria-current="page" class="mini-nav-logo w-inline-block w--current"><img loading="lazy" src="https://cdn.prod.website-files.com/69896482002147cf48fc8172/69afc946dd6cb44228a5e057_Vector%20(7).png" alt="Nav Logo" class="mini-n-logo"></a><img loading="lazy" src="https://cdn.prod.website-files.com/69896482002147cf48fc8172/698974ac4683c06ab3ffdc67_svgviewer-output%20(1).svg" alt="close btn
" class="ham-bargar-icon">
                </div>
                <div class="nav-menu-main">
                    <div class="nav-menu-item">
                        <a href="index.html" aria-current="page" class="n-menu-link-text-wrap n-menu-link-text-wrap-mini a w-inline-block w--current">
                            <div class="n-menu-link-text n-menu-link-text-mini">
                                Home
                            </div>
                        </a>
                    </div>
                    <div class="nav-menu-item">
                        <a href="/about.html" class="n-menu-link-text-wrap n-menu-link-text-wrap-mini a w-inline-block">
                            <div class="n-menu-link-text n-menu-link-text-mini">
                                About Us
                            </div>
                        </a>
                    </div>
                    <div class="nav-menu-item"><a href="volunteer.html" class="n-menu-link-text-wrap n-menu-link-text-wrap-mini a w-inline-block">
                                        <div class="n-menu-link-text n-menu-link-text-mini">
                                            Volunteers
                                        </div>
                                    </a></div>
                    <div class="nav-menu-item">
                        <a href="contact.html" class="n-menu-link-text-wrap n-menu-link-text-wrap-mini a w-inline-block">
                            <div class="n-menu-link-text n-menu-link-text-mini">
                                Contact Us
                            </div>
                        </a>
                    </div>
                    
                    
                    
                    
                    <div class="nav-button-main mini">
                        <div class="mini-contact-btn-wrap">
                            <a href="donate.html" class="prime-button-wrap primary-button w-inline-block">
                                <div class="ani primary">
                                    <div class="nav-btn-icon absolute"></div>
                                    <div class="nav-btn-icon"></div>
                                </div>
                                <div class="n-button-box">
                                    <div class="n-button-text">Donate Now</div>
                                    <div class="n-button-text text-absulet">Donate Now</div>
                                </div>
                            </a>
                        </div>
                        <div class="social-media-wrap">
                            <a href="https://www.facebook.com" class="mini-nav-icon"></a><a href="https://x.com/?lang=en" class="mini-nav-icon"></a><a href="https://www.instagram.com" class="mini-nav-icon"></a><a href="https://www.linkedin.com" class="mini-nav-icon"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section header-s">
            <div class="fixed about">
                <div class="nav-wrapper about">
                    <div class="nav-top-wrap">
                        <div class="nav-top-left">
                            <div class="nav-top-left-text">
                                Welcome to our crowdfunding &amp; Charity agency
                            </div>
                        </div>
                        <div class="nav-top-right">
                            <div class="n-top-icon-w">
                                <img loading="lazy" src="https://cdn.prod.website-files.com/69896482002147cf48fc8172/698976dc091c04a2f2357667_Icon%20(1).png" alt="" class="n-top-icon"><a href="tel:+88012(3456)7890" class="n-top-icon-text">+88 012 (3456) 7890</a>
                            </div>
                            <div class="n-top-icon-w">
                                <img loading="lazy" src="https://cdn.prod.website-files.com/69896482002147cf48fc8172/698976dcc2181b21411b1f94_Layer%206.png" alt="" class="n-top-icon"><a href="mailto:example@gmail.com?subject=example%40gmail.com" class="n-top-icon-text">example@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar">
                        <div class="navbar-log">
                            <a href="index.html" aria-current="page" class="n-logo-wrap w-inline-block w--current"><img loading="lazy" height="Auto" alt="N Logo" src="https://cdn.prod.website-files.com/69896482002147cf48fc8172/69afc946dd6cb44228a5e057_Vector%20(7).png" class="n-logo"></a>
                        </div>
                        <div class="navbar-menu">
                            <div class="n-menu-item-ul">
                                <div class="n-menu-item-li">
                                    <div class="hover"></div>
                                    <a href="index.html" aria-current="page" class="n-menu-link-text w--current">Home</a>
                                    <div class="n-menu-item-flex"></div>
                                </div>
                                <div class="n-menu-item-li">
                                    <div class="hover"></div>
                                    <a href="about.html" class="n-menu-link-text">About Us</a>
                                    <div class="n-menu-item-flex"></div>
                                </div>
                                <div class="n-menu-item-li">
                                    <div class="hover"></div>
                                    <a href="volunteer.html" class="n-menu-link-text">Volunteer</a>
                                    <div class="n-menu-item-flex"></div>
                                </div>
                                
                                <div class="n-menu-item-li">
                                    <div class="hover"></div>
                                    <a href="contact.html" class="n-menu-link-text">Contact</a>
                                    <div class="n-menu-item-flex"></div>
                                </div>
                            </div>
                        </div>
                        <div class="button">
                            <div class="menu-button-box menu-hide">
                                <a href="donate.html" class="prime-button-wrap primary-button w-inline-block">
                                    <div class="ani primary">
                                        <div class="nav-btn-icon absolute"></div>
                                        <div class="nav-btn-icon"></div>
                                    </div>
                                    <div class="n-button-box">
                                        <div class="n-button-text">Donate Now</div>
                                        <div class="n-button-text text-absulet">Donate Now</div>
                                    </div>
                                </a>
                            </div>
                            <div class="hambargar-wrap">
                                <img loading="lazy" src="https://cdn.prod.website-files.com/69896482002147cf48fc8172/698974ac4683c06ab3ffdc68_svgviewer-output%20(2).svg" alt="menu icon
" class="ham-icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>